/* CSS styles */
body{
    background-color: #0000ff;
    margin: 0px;
}

main{
    margin-left: auto;
    margin-right: auto;
    border-radius: 47.5vh;
    width: 95vh;
    height: 95vh;
    background-color: #ffff00;
    margin: 0px;
}
