body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "rd blu"
    "grn ylo";
    margin: 0px;
    width: 100w;
    height: 100vh;
}

#rd{
    grid-area: rd;
    background-color: #ff0000;
}

#blu{
    grid-area: blu;
    background-color: #0000ff;
}

#grn{
    grid-area: grn;
    background-color: #00ff00;
}

#ylo{
    grid-area: ylo;
    background-color: #ffff00;
}

h1 {
    font-size: 3vw;
}