body{
    display: grid;
    grid-template-columns: auto 95vh auto;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "1 2 3";
    background-color: #0000ff;
    margin: 0px;
}

main{
    border-radius: 47.5vw;
    width: 95vh;
    height: 95vh;
    background-color: #00ffff;
    margin: 0px;
}
