body{
    color: #ffffff;
}

table,th,td{
    border: 1px solid #000000; 
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: #0000a2;
}

tr:nth-child(even){
    background-color: #a2a2a2;
}