body{
    background-color: #5f5f5f;
    color: #0000a2;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% auto 45%;
    grid-template-areas: 
    "header1 header2"
    "main1 main2"
    "footer footer"
}

.grid-container{
    display: grid;
    column-gap: 50px;
}

header:nth-child(1){
    grid-area: header1;
}

header:nth-child(2){
    grid-area: header2;
}

main:nth-child(1){
    grid-area: main1;
}

main:nth-child(2){
    grid-area: main2;
}

footer{
    grid-area: footer;
}

.prog{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.thgt{
    text-align: right;
}

.txtme{
    border-style: double;
    border-color: #aaaaaa;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

a:link{
    text-decoration: none;
}