body{
    background-color: #5f5f55;
    color: #b2b2b2;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr 1fr 20vw;
    grid-template-rows: 15vh 80vh 50px;
    grid-template-areas: 
    "header header nav"
    "main main main"
    "footer footer footer";
    margin: 0px;
}

.novis{
    color:#5f5f55;
}

#media{
    background-color: #5f5f55;
    color: #b2b2b2;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr 1fr 20vw;
    grid-template-rows: 15vh auto 50px;
    grid-template-areas: 
    "header header nav"
    "music movies main"
    "footer footer footer";
    margin: 0px;
}

#names{
    background-color: #5f5f55;
    color: #b2b2b2;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr 1fr 20vw;
    grid-template-rows: 15vh auto 50px;
    grid-template-areas: 
    "header header nav"
    "main main main"
    "footer footer footer";
    margin: 0px;
}

header{
    grid-area: header;  
    background-color: #1f2f2f;
    border-style:ridge;
    margin:8px;
}
h1{
    margin:8px;
}
nav{
    grid-area: nav;
    background-color: #ff3232;
    border-style:ridge;
    margin:8px;
}

main{
    grid-area: main;
    margin-left: 8px;
}

.music{
    grid-area: music;
    margin-left: 8px;
}

.movies{
    grid-area: movies;
    margin-left: 8px;
}

footer{
    grid-area: footer;
    background-color: #000000;
    border-style:outset none none none;
}

a{
    color:#b2b2ff
}

a:hover{
    color: #ffb2b2
}

li > a{
    color:#a2a2a2
    text-decoration: none;
}

#media img{
    height: 30vh;
}

tr:first-of-type > :nth-child(even){
    background-color: #2f2f1f;
}

tr:first-of-type > :nth-child(odd){
    background-color: #1f1f2f;
}

tr:nth-child(even) > th{
    background-color: #2f2f1f;
}

tr:nth-child(odd) > th{
    background-color: #1f1f2f;
}

td, th{
    border:1px #a2a2a2 double;
    border-collapse: collapse;
}