body{
    background-color: #5f5f55;
    color: #b2b2b2;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: 1fr 1fr 20vw;
    grid-template-rows: 15vh auto 50px;
    grid-template-areas: 
    "header header nav"
    "main main main"
    "footer footer footer";
    margin: 0px;
}

header{
    grid-area: header;  
}

nav{
    grid-area: nav;
    background-color: #ff3232;
    border-style:ridge;
    margin:8px;
}

main{
    grid-area: main;
    margin-left: 8px;
}

footer{
    grid-area: footer;
    background-color: #000000;
    border-style:outset none none none;
}

a{
    color:#b2b2ff
}

a:hover{
    color: #ffb2b2
}

li > a{
    color:#a2a2a2
    text-decoration: none;
}

img{
    width: 100px;
    height: 100px;
}